html{
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  background-image: url("../img/7backgroundImage.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.top{
display:flex;
gap:2rem;
}

.shift-top,a{
  list-style-type: none;
  font-size: 4rem;
  font-weight: bold;
  background:gold;
  color: white;  
  border: black solid .40rem;
  text-decoration: none;
}

main{
  display:flex;
  justify-content: center;
}

ul{
  display:flex;
  flex-wrap: wrap;
  gap:2rem;
}

h1 {
  font-size: 7rem;
  font-weight: bold;
  background:gold;
  border:darkgoldenrod solid .5rem;
  width: 35%;
  text-align:center;
  margin: 1rem;
} 

section{
  display:flex;
}

section ul li{
  background-color: rgba(247, 241, 212, 75%);
  color:red;
  font-size:4rem;
  font-weight: 70rem;
  list-style-type: none;
  font-weight:bold;
  border: .5rem solid rgb(224, 206, 100);
  text-align: center;
  padding: 1.5rem 0;
  cursor: pointer;
  /* center text under image */
  display: flex;
  flex-direction: column;
} 


li img{
  width:35rem;
  height:25rem;
  border: solid gold .5rem;
  border-radius: 5%;}

#video{
  width: 35rem; 
  height:25rem;
  margin: 0 0 0 4rem

}


/* make page responsive for computer and phone and ipad */


@media only screen and (max-width: 768px) {
  html{
    font-size: 50%;
  }
  .top{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
  }
  .shift-top,a{
    font-size: 3rem;
  }
  h1 {
    font-size: 5rem;
    width: 50%;
  } 
  section ul li{
    font-size:3rem;
    padding: 1rem 0;
  } 
  li img{
    width:15rem;
    height:15rem;
  }
  #video{
    width: 25rem; 
    height:15rem;
  }
}