html{
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  background-image: url("../img/7backgroundImage.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.top{
display:flex;
gap:2rem;
}

.shift-top,a{
  list-style-type: none;
  font-size: 4rem;
  font-weight: bold;
  background:gold;
  color: white;  
  border: black solid .40rem;
  text-decoration: none;
}

main{
  display:flex;
  justify-content: center;
}

ul{
  display:flex;
  flex-wrap: wrap;
  gap:2rem;
}

h1 {
  font-size: 7rem;
  font-weight: bold;
  background:gold;
  border:darkgoldenrod solid .5rem;
  width: 35%;
  text-align:center;
  margin: 1rem;
} 

section{
  display:flex;
}

section ul li{
  background-color: rgba(247, 241, 212, 75%);
  color:red;
  font-size:4rem;
  font-weight: 70rem;
  list-style-type: none;
  font-weight:bold;
  border: .5rem solid rgb(224, 206, 100);
  text-align: center;
  padding: 1.5rem 0;
  cursor: pointer;
  border-radius: 5%;
  max-height: 40%;
  max-width: 28%;
} 


li img{
  width:21rem;
  height:21rem;
  border: solid gold .5rem;
}

#video{
  width: 150rem; 
}


/* make images responsive */

img {
  max-width: 100%;
  height: auto;
}

/* make page responsive */

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
    width: 100%;
  }
  section ul li{
    font-size: 2rem;
    max-width: 100%;
    max-height: 100%;
  }
  li img{
    width: 10rem;
    height: 10rem;
  }
  #video{
    width: 100%;
  }
}

/* make page responsive for computer and phone and ipad */


@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 4rem;
    width: 100%;
  }
  section ul li{
    font-size: 2rem;
    max-width: 100%;
    max-height: 100%;
  }
  li img{
    width: 10rem;
    height: 10rem;
  }
  #video{
    width: 100%;
  }
}

